<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" Type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PelotonEppSdk.Properties.Settings" Type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PelotonEppSdk.Properties.Settings>
            <setting name="PelotonUri" serializeAs="String">
                <value>https://sbapi.peloton-technologies.com</value>
            </setting>
        </PelotonEppSdk.Properties.Settings>
    </applicationSettings>
</configuration>